<!-- Layout to be used on every page of the blog website -->
<!-- Reduce code redundancy -->

<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
