
<!-- Layout to be used on every page of the blog website -->
<!-- Reduce code redundancy -->

<%- include("partials/header"); -%>

<!-- Use EJS tags -->
    <h1><%=title%></h1>
    <p><%=content%></p>



<%- include("partials/footer"); -%>
